.container-book {
    max-width: 1232px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-between;
    gap: 2rem;

    .return {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;
        color: var(--blue);
    }

    a {
        color: var(--blue);
        text-decoration: none;
    }

    .book-card {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        .book-info-container {
            display: flex;
            align-items: space-between;
            gap: 1rem;

            .book-title {
                display: flex;
                justify-content: stretch;
                flex-direction: column;
                gap: 0.5rem;

                .info-content {
                    justify-self: center;
                }
            }
        }

        .button-container {

            a {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem 2rem;
                background: var(--blue);
                border: none;
                border-radius: 1rem;
                color: #FFF;
                font-size: 1rem;
                margin: 1rem 0;
                cursor: pointer;
                transition: filter 0.3s;
                transition: transform 0.3s;

                &:active {
                    filter: brightness(1.1);
                    transform: scale(0.95);
                }
            }
        }
    }
    
    .description-content {
        p {
            text-align: justify;
        }
    }
}